<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527246908165-lvqip6ijjjt4kpo2ftlm5toodshsro96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527246908165-lvqip6ijjjt4kpo2ftlm5toodshsro96</string>
	<key>API_KEY</key>
	<string>AIzaSyD9SxOUunpdBCOGtAMfpPeFV89kLDkgow0</string>
	<key>GCM_SENDER_ID</key>
	<string>527246908165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sixfeetplantation</string>
	<key>PROJECT_ID</key>
	<string>six-feet-plantation</string>
	<key>STORAGE_BUCKET</key>
	<string>six-feet-plantation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527246908165:ios:3926d77353e1e5e5a8356c</string>
	<key>DATABASE_URL</key>
	<string>https://six-feet-plantation.firebaseio.com</string>
</dict>
</plist>